<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lista de Usuários</h1>
    <form method="post" action="/cadastro">
        {{ form.hidden_tag() }}
        <label for="email">Email:</label>
        <input type="text">
        {{ form.email() }}
        <label for="password">Email:</label>
        <input type="password">
        {{ form.senha() }}
        <label for="passwordconfirm">Idade:</label>
        <input type="password">
        {{ form.senhaconfirma() }}
        {{ form.submit() }}
    </form>
</body>
</html>